.holder {
    position: relative;
    width: 1051px;
    height: 402px;
}

.key {
    position: absolute;
    border: solid 1px #888888;
    border-radius: 10px;
    background-color: #EEEEEE;
    overflow: hidden;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key:hover {
    background-color: #888888;
}

.key.selected {
    background-color: #666666;
}

#form * {
    font-size: 18pt;
}

.holder {
    z-index: 1;
    background-color: white;
}

#layers > div {
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    display: inline;
    font-size: 16pt;
    padding: 2px;
    margin-left: 2px;
    cursor: pointer;
    z-index: -5;
}

#layers > div.selected {
    z-index: -1;
    background-color: #999999;
    cursor: default;
    /*box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.77);*/
}
